<!DOCTYPE html>
<html>
<head>
<title>Django studies</title>
<link rel="icon" href="https://th.bing.com/th/id/OIP.hXtaydwWJIMU0TUthcwnUwHaE8?w=224&h=180&c=7&r=0&o=5&pid=1.7">

</head
<body>

<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>
<marquee><p>só testando isso aqui</p></marquee>
<iframe src="https://jcw87.github.io/c2-smb1/" width="800" height="600"></iframe>

<marquee behavior="alternate">
    <img src='https://media.tenor.com/z6HrXSWAouAAAAAM/cuphead-meme.gif' alt='gif'>
</marquee>

</body>
</html>